.cards-article > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.cards-article > ul > li {
  display: flex;
  flex-direction: column;
}

.cards-article .cards-article-card-image {
  line-height: 0;
}

.cards-article .cards-article-card-image img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px;
}

.cards-article .cards-article-card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
}

.cards-article a:any-link {
  color: inherit;
  text-decoration: none;
}

@media (width >= 900px) {
  .cards-article > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
